.picker-group{
    display: flex;
    align-items: center;
    padding: 5px;
}
#color-pickers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
}
output > .image > img, canvas {
    width: 25vw;
}
.image-group {
    display: flex;
    width: 100vw;
    justify-content: center;
}
